.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.fixed-window {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  margin: 8px;
}

.drawer-widgets-wrapper {
  display: flex;
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 2147483640;
  flex-direction: column;
  cursor: pointer;
}

.window {
  width: 100%;
  height: 100%;
}
