.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.result-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.fixed-widgets-wrapper {
  display: flex;
  position: fixed;
  right: 16px;
  top: 16px;
  z-index: 2147483640;
  flex-direction: column;
  cursor: pointer;
}

.window {
  width: 240px;
}

.fixed-window {
  width: 240px;
  height: 360px;
}
