.search-window-space > .ant-space-item:nth-child(3) {
  flex: 1;
  overflow-y: auto;
}

.search-window-space > .ant-space-item:nth-child(3)::-webkit-scrollbar {
  display: none;
}

.search-window-spin-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.search-window-list {
  width: 100%;
}
