.search-window-space > .ant-space-item:nth-child(3) {
  flex: 1;
  overflow-y: auto;
}

.search-window-space > .ant-space-item:nth-child(3)::-webkit-scrollbar {
  display: none;
}

.search-window-input-wrapper {
  width: 100%;
}

.search-window-input-wrapper > .ant-space-item:nth-child(1) {
  flex: 1;
}
