.window-spin-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: center;
}

.window-list {
  width: 100%;
}

.window-buttons-wrapper {
  width: 100%;
}

.window-buttons-wrapper > .ant-space-item {
  flex: 1;
}
